<!DOCTYPE html>
<html>

<head>
  <title><%= @country.name %></title>
</head>

<body>
  <h1><%= @country.name %></h1>
  <p>Capital: <%= @country.capital %></p>
  <p>Population: <%= @country.population %></p>
  <p>Currency: <%= @country.currency %></p>

  <h2>Cities</h2>
  <ul>
    <% @country.cities.each do |city| %>
      <li>
        <%= link_to city.name, city_path(city) %> - <%= city.weather_condition %>
      </li>
    <% end %>
  </ul>

  <p><%= link_to "Back to Countries", countries_path %></p>
</body>

</html>
