<html>

    <head>
    </head>

    <body>
        <h1><%= @country.name %></h1>
        <p>Capital: <%= @country.capital %></p>
        <p>Population: <%= @country.population %></p>
        <p>Currency: <%= @country.currency %></p>
    
        <h2>Cities</h2>
        <ul>
        <% @country.cities.each do |city| %>
            <li><%= city.name %> - <%= city.weather_condition %></li>
        <% end %>
        </ul>
    </body>
    
</html>