<h1><%= @city.name %></h1>
<p>Find me in app/views/cities/show.html.erb</p>

<p>Temperature: <%= @city.temperature %>°C</p>
<p>Humidity: <%= @city.humidity %>%</p>
<p>Weather: <%= @city.weather_condition %></p>

<p><%= link_to "Back to Cities", country_cities_path(@country) %></p>
<p><%= link_to "Back to Countries", countries_path %></p>
